#index{
   
    margin: 0;
    padding: 0;
    
}

.search-box{
  background: #2F3640;
  margin: 20px;

  border-radius: 40px;
  padding: 10px;
}

.search-box:hover> .search-txt{
  width: 240px;
  padding: 0 6px;
}

.search-box:hover> .search-btn{
  background: white;
  
}


.search-btn{
  color: #e84118;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background:  #2F3640;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  
  
}

h1{
 text-align: center;
  top: 6%;
  left: 10%;
  height: 20%;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.row1{
  display: flex;
  align-items: center;
justify-content: center;

}

img{    
    width: 300px;  
    height: 300px;
    object-fit: contain;//pour toute les photos aie la même dimension
}

p{
  color:#e84118;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
   
}
 footer .img{
  width: 300px;  
  height: 300px;
  object-fit: contain;//pour toute les photos aie la même dimension
}

h3{
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;     
}

#selection{  
  align-items: flex-end;
  margin-top: 30px;
}

.film{
  display: flex;
  flex-direction: column;
  width: 33.333%;
  overflow : auto;

  
}
/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(3, 33, 34);
  }
  
  .active {
    background-color: rgb(11, 184, 236);
  }*/



/*#container{
  display:flex;
 flex-flow: row wrap;
  
}*/

